[submodule "meca500_ethercat_cpp"]
	path = meca500_ethercat_cpp
	url = https://github.com/Vanvitelli-Robotics/meca500_ethercat_cpp_library.git
	branch = main
[submodule "meca500_ethercat_cpp/"]
	branch = main
